* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row.center {
  align-items: center;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  background: #bc9a43;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.white {
  color: #ffffff;
}
.gold {
  color: #bc9a43;
}

.m-10 {
  margin: 10px;
}

.my-10 {
  margin: 10px 0;
}
.image.small {
  max-height: 20rem;
}

.add-btn {
  border: none;
  background: white;
  padding: 0.5rem;
  color: #bc9a43;
  cursor: pointer;
  margin-top: 1rem;
}

.add {
  background: #40c0f0;
  width: 1.5rem;
  color: #bc9a43;
}

.remove {
  background: #f04040;
  width: 1.5rem;
  color: #bc9a43;
}

.badge {
  background: #f04040;
  width: 1.5rem;
}

.text-right {
    text-align: right;
}